.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
.venv/**
.nox/**
.github/
**/__pycache__/**
**/*.pyc
bundled/libs/bin/**
# include .dist-info for runtime metadata, see Issue #104
# bundled/libs/*.dist-info/**
noxfile.py
.pytest_cache/**
.pylintrc
**/requirements.txt
**/requirements.in
**/tool/_debug_server.py